*{padding: 0; margin:0; box-sizing: border-box;}
.nav1{
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 100px 0px;
}
.s-icon a{
	font-size: 20px;
	margin:0px 5px;
	border-radius: 50%;
	padding: 10px;
	background: #2ecc71;
	color: white;
}
.logo{
	text-align: center;
	font-size: 50px;
	line-height: 40px;
	font-family: 'Dancing Script', cursive;
}
.logo span{
	font-size: 20px;
	color:  #2ecc71;
}
.search i{
	font-size: 30px;
}
.nav2{
	width: 100%;
	height: 50px;
	box-shadow: 2px 3px 5px grey;
}
.menu{
	width: 70%;
	height: 50px;
	margin:auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu a{
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 10px 20px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}
header{
	width: 100%;
	display: flex;
}
header div{
	position: relative;
	cursor: pointer;
	overflow: hidden;
}
header div img{
	width: 100%;
	height: 100%;
	transition: 0.4s ease-in-out;

}
header div p{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 80px;
	line-height: 80px;
	background: rgba(0,0,0,0.8);
	color: white;
	font-size: 20px;
	text-align: center;
}
header div a{
	text-decoration: none;
	background:#2ecc71;
	color: white;
	font-size: 20px;
	padding: 10px 20px; 
}
header div img:hover{
	transform: scale(1.5);
}

#play{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 20px;
	color: white;
	background: #2ecc71;
	padding: 20px;
	border-radius: 50%;
	text-align: center;
}
#about{
	padding: 100px 50px;
	width: 100%;
}
.about-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about-left-col{
	flex-basis: 70%;
	font-family: 'Roboto', sans-serif;
	text-align: center;
}
.about-right-col{
	flex-basis: 30%;
}
.about-left-col img{
	width: 80%;
	background:  #ffffff;
}
.about-left-col h2{
	color: #ffffff;
}

.about-left-col h1{
	font-size: 40px;
	font-family: 'Roboto', sans-serif;
}
.about-left-col p{
	color: grey;
	font-size: 20px;
	text-transform: uppercase;
	margin:20px 0px;

}
#about-text{
	font-size: 20px;
	color: grey;
	text-align: justify;
	width: 80%;
	margin:20px auto;
	text-transform: capitalize;
}
.about-left-col a{
	text-decoration: none;
	color: white;
	background:  #2ecc71;
	padding: 10px 20px;
	border: 1px solid white;
}
.aboutme{
	padding: 20px;
	text-align: center;
	max-width: 300px;
	margin:20px auto;
}
.aboutme h2{
	font-size: 40px;
	position: relative;
	font-family: 'Dancing Script', cursive;
}
.aboutme h2:before{
	content: "";
	width: 50px;
	height: 2px;
	position: absolute;
	top:50%;
	left: 0;
	background:  #2ecc71;
}
.aboutme h2:after{
	content: "";
	width: 50px;
	height: 2px;
	position: absolute;
	top:50%;
	right: 0;
	background:  #2ecc71;
}
.aboutme p{
	font-size: 20px;
	margin:10px 0px;
}
.aboutme a{
	font-size: 30px;
	margin:20px 5px;
	border:1px solid black;
	padding: 10px;
	cursor: pointer;
}
.aboutme a:hover{
	background:  #2ecc71;
	color: white;
	transition: 0.4s linear;	
}
.aboutme input{
	width: 100%;
	padding: 10px;
	outline: none;
	border:1px solid grey;
	margin:20px 0px;

}
.aboutme button{
	background:  #2ecc71;
	color: white;
	padding: 10px 20px;
	border:none;
	outline: none;
	width: 80%;
}

#trends{
	width: 100%;
	padding: 50px 100px;
}
.trends-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.trends-left-col{
	flex-basis: 60%;
	cursor: pointer;
}
.trends-right-col{
	flex-basis: 30%;
}
.trends-right-col img{
	width: 100%;
}
.post{
	display: flex;
	justify-content: center;
	align-items: center;
	margin:20px auto;
}
.post img{
	width: 100px;
	height: 100px;
	margin-right: 50px;
	border-radius: 50%;
}
.text h3{
	font-size: 30px;
	font-family: 'Dancing Script', cursive;
}
.text h3:hover{
	color: #2ecc71; 
}
.text p{
	color: grey;
}
footer{
	background: #262626;
	color: white;
	padding: 10px 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}












